/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Font */
@font-face {
  font-family: "Moderniz";
  src: url("fonts/Moderniz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.8;
  color: #000000;
  scroll-behavior: smooth;
}
/* headings */
h1, h2, h3 {
  font-family: "Moderniz", sans-serif;
  letter-spacing: 1px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: #111;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  color: white;
  padding-top: 80px;
}

.hero h1 {
  font-size: 3rem;
}

.accent {
  color: #f04c8b;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: #00d4ff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 6rem 25%;
  text-align: center;
}

.project-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background: #111;
  color: white;
}

.page-top {
  margin-top: 100px;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 70px;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .menu-toggle {
    display: block;
  }
    .logo-grid {
    grid-template-columns: 1fr;
  }
}

/* Logo Grid */
.logo-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logo-box {
  aspect-ratio: 1 / 1;   /* Forces square */
  background: #f4f4f400;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Hover effect */
.logo-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

